html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 16px;
  color: black;
}

input,
select,
textarea,
button {
  margin: 0;
}

.align-start {
  align-items: flex-start;
}

.align-stretch {
  align-items: stretch;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-stretch {
  align-content: stretch;
}

.btn {
  text-align: center;
  display: inline-block;
  padding: 0.5rem 1.2rem;
  margin: 0;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: 1px solid transparent;
  outline: none;
  color: #1a1a1a;
  background-color: #aeaeae;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.btn.btn-squared {
  border-radius: 0;
}

.btn.btn-sm {
  font-size: 0.85rem;
  padding: 0.3rem 0.9rem;
}

.btn.btn-lg {
  font-size: 1.25rem;
  padding: 0.8rem 1.4rem;
}

.btn.btn-block {
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 5px;
}

.btn.btn-primary {
  background-color: #2d3e50;
  color: #d9e9e8;
}

.btn.btn-info {
  background-color: blue;
  color: #ffffff;
}

.container {
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 0 15px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

form {
  width: 100%;
}

form .form-input,
form .form-textarea {
  display: block;
}

form .form-input {
  padding: 0.75rem;
  color: #1a1a1a;
  background-color: #ffffff;
  margin: 0.625rem 0;
  font-size: 1.2rem;
  border: 1px solid #484848;
  border-radius: 0.3rem;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1rem;
}

#result-content {
  padding-left: 20px;
}